h3 Where could you take ROMImate tomorrow?
p That&apos;s depends on the developers community, but we&apos;ve got some ideas that could help in giving it a direction.
p Here are the few features that we would like developer&apos;s community to work on in near future:
ul
  li Interface for Sentiment analysis engine – data from sentiment analysis can be used as a media parameter to see how sentiment can affect sales through media mix modeling.
  li Interface for media investment planning to allow marketers to analyze and optimize media investment.
  li Support for dynamic dependent and feature variables – user should be able to upload data in CSV format with their own attribute definition for media and sales.
  li System and application level exception handling to make framework robust and crash proof.
  li More data visualization through graphs in dashboard.
  li UX redesign.
