.row.datasummary
   .col-lg-6.col-sm-12.col-md-6
     #composite-chart.u6.chart-wrapper
       h3.chart-title Media Volume
   .col-lg-6.col-sm-12.col-md-6
      #data-table.u6.chart-wrapper
        h3.chart-title.bold Media Support
        table#sampledatatable.table.table-bordered
          thead
            tr
              th Month
              th Sales Vol.
              th TV
              th Radio
              th Newspaper
