.row.model
  .button(class="btn btn-warning", id="btnDataRefreshManual" style="display: block;margin: auto;") Refresh Model
  include modelsummary.pug
  .col-lg-6.col-sm-12.col-md-6
    #pieChart.u6.chart-wrapper
      h3.chart-title Media contribution based on Media Mix Modeling
