//- layout.pug
doctype html
html
  head
    include includes/pagehead.pug
  body
    block gtm
    block universalheader
    block herosection
    block dashboard
    block aboutapp
    block newsandupdate
    block sourcecode
    block contact
    block universalfooter
