doctype html
html(lang='en')
  head
    include includes/pagehead.pug
  body
    block gtm
    block facebooktracking
    block universalheader
    block herosection
    block dashboard
    block aboutapp
    block newsandupdate
    block sourcecode
    block contact
    block universalfooter
    block addthis
