section#about-section.bg-dark
  .container
    .row.about-section
      .col-lg-12.text-center
        h2.section-heading Wait. What is ROMImate again?
        hr.primary
        .col-lg-4.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa.fa-question-circle.wow.bounceIn.text-primary(href='#section1detail', data-rel='lightcase')
            h3 Why ROMImate
            p.text-muted Where did ROMImate come from and what are we solving here?
            br

            a(href='#section1detail', data-rel='lightcase') Learn More &Rang;
        .col-lg-4.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-cogs.wow.bounceIn.text-primary(href='#section3detail', data-rel='lightcase', data-wow-delay='.2s')
            h3 State Of The App
            p.text-muted How does it work? What technologies are being used today?
            br

            a(href='#section3detail', data-rel='lightcase') Learn More &Rang;
        .col-lg-4.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-map-signs.wow.bounceIn.text-primary(href='#section4detail', data-rel='lightcase', data-wow-delay='.3s')
            h3 The Roadmap
            p.text-muted
              Where could you take ROMImate tomorrow? That&apos;s up-to-you, but we&apos;ve got some ideas that could help.
            br
            a(href='#section2detail', data-rel='lightcase') Learn More &Rang;
