section#contact.bg-bright
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading Let&apos;s Get In Touch!
          hr.primary
          p Want to learn even more, or interesting in having a ROMImate discussion at your event? Send us an email and we will get back to you as soon as possible!
        .col-lg-3.col-lg-offset-3.text-center
          i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
          p
            a(href='mailto:rthakur@sapient.com') rthakur@sapient.com
        .col-lg-3.text-center
          i.fa.fa-twitter.fa-3x.wow.bounceIn(data-wow-delay='.1s')
          p
            a(href='https://twitter.com/rakeshweb') @rakeshweb
