section.bg-bright
.container
  .row
   h2.section-heading ROMImate Live Demonstration
   hr.light
   #botinput
     p#preinputtext.text-faded  {Little about action and end result of demo}
      Complete Dashboard goes here
   #botloader(style='display:none;padding-top: 45px;height:120px;')
     .cssload-loader
       .cssload-flipper
         .cssload-front
         .cssload-back
   #botresult.ct-chart.ct-double-octave(style='display:none')
   i.fa.fa-lg.fa-info-circle.text-primary(href='#whatisthis', data-rel='lightcase', style='color:white;')
     span(style='font-size:0.7em') I don&apos;t understand this. Tell me more.

     #whatisthis(style='display:none')
             h4 Don&apos;t Understand? {Instruction to Kick start}
             ul
               li About Chart1
               li About Chart...

dashboard
.row
  h2 Upload CSV Data
  fieldset
    legend Upload CSV File
    form(action='/uploadfile', method='post', enctype='multipart/form-data')
      input#Collection(name='Collection', type='hidden', value='SampleData')
        
      label(for='upload') Choose file:
        
      input(type='file', accept='.csv', name='uploadfile')
        
      button(type='submit', name='submit') Submit
.row
  #composite-chart.u6.chart-wrapper
    .chart-title.bold
      strong Media Volume
  #data-table.u6.chart-wrapper
    .chart-title.bold
      strong Media Support
    table#sampledatatable.rwd-table(border='1')
      thead
        tr
          th Month
          th Sales Vol.
          th TV
          th Radio
          th Newspaper
.row
  #model-table.u6.chart-wrapper
    .chart-title.bold
      strong Model
    table#mix-model-summary-console.console-data
      thead
        tr
          th(colspan='4') OLS Regression Result
      tbody
        tr
          td Dep. Variable
          td(data-attr-data-name='dep_var')
          td R-Squared
          td(data-attr-data-name='rsquared')
        tr
          td Models
          td(data-attr-data-name='model')
          td Adj. R-Squared
          td(data-attr-data-name='rsquared_adj')
        tr
          td Method
          td(data-attr-data-name='method')
          td PROB (F-Statics)
          td(data-attr-data-name='prob_f_statistic')
        tr
          td DATE
          td(data-attr-data-name='datetime', data-value='date')
          td R-Squared
          td(data-attr-data-name='rsquared')
        tr
          td TIME
          td(data-attr-data-name='datetime', data-value='time')
          td Log-Likelihood
          td(data-attr-data-name='log_likelihood')
        tr
          td No. Observations
          td(data-attr-data-name='no_of_observations')
          td AIC
          td(data-attr-data-name='aic')
        tr
          td DF. Residuals
          td(data-attr-data-name='df_resid')
          td BIC
          td(data-attr-data-name='bic')
        tr
          td DF. Model
          td(data-attr-data-name='dep_var')
          td
          td(data-attr-data-name='')
        tr
          td Converiance Type
          td(data-attr-data-name='cov_type')
          td
          td(data-attr-data-name='')
      tfoot
        tr
          th
          th
          th
          th
    table#mix-model-console1.console-data
      tbody
        tr
          td Inercept
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
        tr
          td TV
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
        tr
          td Radio
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
        tr
          td Newspaper
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
          td(data-attr-data-name='dep_var')
    table#mix-model-diagn-console.console-data
      tbody
        tr
          td Omnibus
          td(data-attr-data-name='omni')
          td Durbin-Watson
          td(data-attr-data-name='mineigval')
        tr
          td Prob (Omnibus)
          td(data-attr-data-name='omnipv')
          td Jarque-Bera JB
          td(data-attr-data-name='jbpv')
        tr
          td Skew
          td(data-attr-data-name='skew')
          td Prob JB
          td(data-attr-data-name='jb')
        tr
          td Kurtosis
          td(data-attr-data-name='kurtosis')
          td condno
          td(data-attr-data-name='condno')
  #pieChart.u6.chart-wrapper
    .chart-title.bold
      strong Media contribution based on Media Mix Modeling
.row
  h2 Raw table data
  #jsGrid
