header
    .header-content
      .header-content-inner
        h1 AN OPEN SOURCE FRAMEWORK BUILT TO MEASURE EFFECTIVNESS OF MEDIA IN MARKETING TACTICS
        hr
        p
          ROMImate is a open source frameworks ......leveraging principles of semiotics to ....... Return on Marketing Investment, Measurement, Analysis, Assessment, Media, Media Mix Modeling Media planning and strategy
        a.btn.btn-primary.btn-xl.page-scroll(href='#demo') Try ROMImate Now!
