header#page-top
    .header-content
      .header-content-inner
        h1 AN OPEN SOURCE FRAMEWORK DESIGNED FOR AGILE MARKETING MEASUREMENT.
        hr
        p Primary purpose of ROMImate is to facilitate learning of technologists in marketing and promote research & development in the field of agile marketing measurement. The system architecture is entirely based on serverless architecture with right blend of NoSQL database and microservices coding pattern.

        a.btn.btn-primary.btn-xl.page-scroll(href='#dashboard') Try ROMImate Now!
