section#dashboard.loginsection.clearfix.container
 .jumbotron.clearfix
  div.row.col-xs-12.col-lg-6.col-md-6.col-sm-12.socialmedia
    h2 Sign-in with:
    ul.form-group.social-logins.col-xs-12.col-lg-8.col-md-8.col-sm-12
      li
        a.btn.btn-social.btn-facebook(href='/login/facebook') Sign in with Facebook
          span.fa.fa-facebook
      li
        a.btn.btn-twitter.btn-social(href='/login/twitter') Sign in with Twitter
          span.fa.fa-twitter
      li
        a.btn.btn-google.btn-social(href='/login/google') Sign in with Google
          span.fa.fa-google
      li
        a.btn.btn-linkedin.btn-social(href='/auth/linkedin') Sign in with LinkedIn
          span.fa.fa-linkedin
  div.row.col-xs-12.col-lg-6.col-md-6.col-sm-12.why-signin
    .whysignin
      h2 Why should I sign in?
      ul
        li Personalized ROMImate Dashboard.
        li Play with Media Mix Modeling in real time.
        li Understand regression model and how it works.
        li Upload your own media and sales data to see how media contributed to sales.
        li Get involve with ROMImate development community.
