section#dashboard.login.clearfix.container
  div.row.col-xs-12.col-lg-4.col-md-4.col-sm-12
  .socialmedia
    h2 Sign-in with:
    ul.form-group.social-logins
      li
        a.btn.btn-social.btn-facebook(href='/login/facebook') Sign in with Facebook
          span.fa.fa-facebook
      li
        a.btn.btn-twitter.btn-social(href='/login/twitter') Sign in with Twitter
          span.fa.fa-twitter
      li
        a.btn.btn-google.btn-social(href='/login/google') Sign in with Google
          span.fa.fa-google
      li
        a.btn.btn-linkedin.btn-social(href='/auth/linkedin') Sign in with LinkedIn
          span.fa.fa-linkedin

    .whysignin
      h2 Why should I sign in?
      ul
        li
          See how Media Mix Modeling works in real-time.
        li
          Play with regression analysis.
        li
          Upload your own data to see media contribution in your conversion.
        li
          Get involve in this ROMImate development.
        li
