#news.no-padding.container
  .container-fluid
    .row.no-gutter
      .col-lg-4.col-sm-6
        .well
          //  iframe(width='100%', height='315', src='https://www.youtube.com/embed/d4aijRJFOq4', frameborder='0', allowfullscreen='')
          div.caption ROMImate interface is quiet easy. Please login with your social account and play with the data uploaded in your dashboard.
          hr
          |  In the meantime we are working on a functional walkthrough video which will be uploaded soon!
      .col-lg-4.col-sm-6
          .well
            //  iframe(width='100%', height='315', src='https://www.youtube.com/embed/xmpS4G_OyKM', frameborder='0', allowfullscreen='')
            div.caption You can access &nbsp;
              a(href='https://github.com/rkthakur/mediamixmodeling', target="_blank") code repository
              |  to understand how code is organized.
            hr
            |  We will upload a detailed code walk through video to facilitate quick learning!
      .col-lg-4.col-sm-6
          .well
            // iframe(width='100%', height='315', src='https://www.youtube.com/embed/OJmSnwD1WXg', frameborder='0', allowfullscreen='')
            div.caption Detailed Installation instruction is available on &nbsp;
              a(href='https://github.com/rkthakur/mediamixmodeling/wiki/Installation', target='_blank') GitHub Wiki.
            hr
            |  A installation walk through video will be available soon!
