section#news.no-padding.container
  .container-fluid
    .row.no-gutter
      .col-lg-4.col-sm-6  News Update#1
      .col-lg-4.col-sm-6  News Update#2
      .col-lg-4.col-sm-6  News Update#2
      br
