section#news.no-padding.container
  .container-fluid
    .row.no-gutter
      .col-lg-4.col-sm-6
        .well
          iframe(width='100%', height='315', src='https://www.youtube.com/embed/d4aijRJFOq4', frameborder='0', allowfullscreen='')
        p Functional walkthrough
      .col-lg-4.col-sm-6
          .well
            iframe(width='100%', height='315', src='https://www.youtube.com/embed/xmpS4G_OyKM', frameborder='0', allowfullscreen='')
          p Code walk though
      .col-lg-4.col-sm-6
          .well
            iframe(width='100%', height='315', src='https://www.youtube.com/embed/OJmSnwD1WXg', frameborder='0', allowfullscreen='')
          p Installation Demo  
