meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='Rakesh Thakur')
title ROIMmate - Marketing Investment Measurement
link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', type='text/css')
link(rel='stylesheet', href='css/dc.css')
link(rel='stylesheet', href='css/creative.css', type='text/css')
link(rel='stylesheet', href='css/bootstrap-social.css')
link(rel='stylesheet', href='css/font-awesome.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
