aside#commit.bg-dark
.container.text-center
  .call-to-action
    h2
      Commit To Helping, Literally.
      Download ROMImate on GitHub
      a.btn.btn-default.btn-xl.tada(href='https://github.com/rkthakur/mediamixmodeling') View On GitHub
