section#commit.bg-dark
  .container.text-center
    .call-to-action
      h2 Interested to join developers community?  Sign-in GitHub
      a.btn.btn-primary(href='https://github.com/rkthakur/mediamixmodeling', role="button", target="_blank") View ROMImate On GitHub
